.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  .main-content {
    flex: 1; 
  }
  

  .footer-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px; 
    background-color: #333; 
    color: white; 
  }
  
  .footer-left, .footer-right {
    display: flex; 
  }
  
  .footer-left a, .footer-right p {
    margin: 0 15px; 
    text-decoration: none; 
    color: white; 
  }
  
  .footer-left a:hover {
    text-decoration: underline; 
  }
  
  .footer-center {
    flex-grow: 1;
    text-align: center; 
  }
  