
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    background: black; 
   
  }
  
  .navbar-left h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar-right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right ul li {
    font-size: 18px;
  }
  
  .navbar-right ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-right ul li a:hover {
    text-decoration: underline;
  }
  